<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Password Change</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/cssUser/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/cssUser/helper.css" rel="stylesheet">
    <link href="~/cssUser/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    @Html.Partial("_Header")
    @Html.Partial("_Navigation")
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Change Password</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                    <li class="breadcrumb-item active">Change Password</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline-primary">
                        <div class="card-header">
                            <h4 class="m-b-0 text-white">Change Password</h4>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                            {
                                <form action="#">
                                    <div class="form-body">
                                        <h3 class="box-title m-t-40">Details</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label>Current Password</label>
                                                    <input type="password" name="currentPassword" id="currentPassword" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label>New Password</label>
                                                    <input type="password" name="newPassword" id="newPassword" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label id="passmatch" style="color:brown"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label>Confirm New Password</label>
                                                    <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label id="passmismatch" style="color:red"></label>
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" id="btnchngpwd" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                        <button type="button" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
    </div>
    <script src="~/jsUser/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/jsUser/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/jsUser/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/jsUser/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/jsUser/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/jsUser/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/jsUser/custom.min.js"></script>
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script type="text/javascript">alert('@ViewBag.Message');</script>
    }
    <script>

        $(document).ready(function () {

            $("#confirmNewPassword").keyup(validate);
            $("#newPassword").keyup(validate);
        });


        function validate() {
            var password = $("#currentPassword").val();
            var password1 = $("#newPassword").val();
            var password2 = $("#confirmNewPassword").val();

            if (password == password1) {

                $('#passmatch').text("Your Currunt Password Cannot Be Your New Password");
                $('#btnchngpwd').attr('disabled', 'disabled');
            }
            else {
                $('#passmatch').text("");
                $('#btnchngpwd').removeAttr('disabled');
            }
            if (password1 == password2) {


                $('#passmismatch').text("Passwords Matched");

            }


            else {
                $('#passmismatch').text("New Password Dont Match Confirm Password Field");
                $('#btnchngpwd').attr('disabled', 'disabled');
            }

        }


    </script>
</body>
</html>