<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sell Return</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/cssUser/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/cssUser/helper.css" rel="stylesheet">
    <link href="~/cssUser/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .hidecell {
            display: none;
        }
    </style>
</head>
<body>
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    @Html.Partial("_Header")
    @Html.Partial("_Navigation")
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Sell Return</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Parameters</a></li>
                    <li class="breadcrumb-item active">Sell Return</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline-primary">
                        <div class="card-header">
                            <h4 class="m-b-0 text-white">Sell Return</h4>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("frmAddSellReturn", "User", FormMethod.Post))
                            {
                                <form action="#">
                                    <div class="form-body">
                                        <h3 class="box-title m-t-40">Details</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Invoice #</label>
                                                    <select class="form-control custom-select" name="invNum" id="invNum" required>

                                                        <option>Select</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Ref</label>
                                                    <select class="form-control custom-select" name="RefSelect" id="RefSelect" required>

                                                        <option>Select</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                     
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Return Date</label>
                                                    <input type="date" name="returnDate" id="returnDate" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Return Type</label>
                                                    <select class="form-control custom-select" name="returnType" id="returnType" required>

                                                        <option>Select</option>
                                                        <option value="Partial">Partial</option>
                                                        <option value="Full">Full</option>

                                                    </select>
                                                </div>
                                            </div>
                                      
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 ">
                                                <div class="form-group">
                                                    <label>Select Customer</label>
                                                    <input type="text" name="CustomerSelect" id="CustomerSelect" class="form-control" disabled>
                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Invoice Date</label>
                                                    <input type="text" name="InvoiceDate" id="InvoiceDate" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Customer Order #</label>
                                                    <input type="text" name="CustOrderNum" id="CustOrderNum" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Customer Order Date</label>
                                                    <input type="text" name="OrderDate" id="OrderDate" class="form-control" disabled>
                                                </div>
                                            </div>

                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Advance Tax</label>
                                                    <input type="number" min="0.00" step="0.01" name="advTax" id="advTax" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-2 ">
                                                <div class="form-group">
                                                    <label>Invoice Type</label>
                                                    <input type="text" name="InvoiceType" id="InvoiceType" class="form-control" disabled>
                                                  
                                                </div>
                                            </div>
                                            <div class="col-md-2 ">
                                                <div class="form-group">
                                                    <label>Warranty</label>
                                                    <input type="text" name="Warranty" id="Warranty" class="form-control" disabled>
   
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label>Products</label>
                                                    <select class="form-control custom-select" id="ProductsToPurchase" required>
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Tender Code</label>
                                                    <input type="text" name="TenderCode" id="TenderCode" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Prod Reg #</label>
                                                    <input type="text" name="ProdRegNum" id="ProdRegNum" class="form-control">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Pack</label>
                                                    <input type="text" name="prodPackSize" id="prodPackSize" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>A/c Unit</label>
                                                    <input type="text" name="AcUnit" id="AcUnit" class="form-control">

                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">

                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Quantity</label>
                                                    <input type="number" min="0" name="prodQuantity" id="prodQuantity" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>Batch</label>
                                                    <input type="text" name="prodBatchNumber" id="prodBatchNumber" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>MFG</label>
                                                    <input type="text" name="MfgDate" id="MfgDate" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-3 ">
                                                <div class="form-group">
                                                    <label>EXP</label>
                                                    <input type="text" name="ExpDate" id="ExpDate" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label>Rate</label>
                                                    <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" name="prodRate" id="prodRate" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label>Amount</label>
                                                    <input type="text" name="prodValue" id="prodValue" class="form-control">
                                                </div>
                                            </div>

                                        </div>
                                        <!--/row-->
                                        <!--/row-->
                                    </div>
                                    <div class="form-actions">
                                        <button type="button" id="btnAdd" class="btn btn-success"> <i class="fa fa-check"></i>Add</button>
                                    </div>
                                </form>
                                <div class="container-fluid">
                                    <!-- Start Page Content -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="table-responsive m-t-40">
                                                        <table id="tblInvoice" class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Product</th>
                                                                    <th>Tender Code</th>
                                                                    <th>Prod Reg #</th>
                                                                    <th>Pack</th>
                                                                    <th>A/c unit</th>
                                                                    <th>Qty</th>
                                                                    <th>Batch</th>
                                                                    <th>MFG</th>
                                                                    <th>EXP</th>
                                                                    <th>Rate</th>
                                                                    <th>Amount</th>

                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" id="sendServer" name="sendServer" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                        <button type="button" class="btn btn-inverse" onclick="window.location.reload(true);">Cancel</button>

                                    </div>
                                    <!-- End PAge Content -->
                                </div>
                                @*<lable>Total</lable>
                                    <lable id="lblOrderValue"></lable>*@

                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
    </div>

    <script src="~/jsUser/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/jsUser/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/jsUser/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/jsUser/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/jsUser/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/jsUser/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/jsUser/custom.min.js"></script>
    <script type="text/javascript">



        $(function () {

            AjaxCall('/User/GetAllinvoiceForReturn', null).done(function (response) {
                if (response.length > 0) {
                    $('#invNum').html('');
                    var options = '';
                    options += '<option value="Select">Select</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i] + '">' + response[i] + '</option>';
                    }
                    $('#invNum').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
                });



            $('#invNum').on("change", function () {
                var country = $('#invNum').val();
                var obj = { Company: country };
                $.ajax({
                    url: "/User/GetInvoiceRef",
                    method: "POST",
                    data: obj,
                    success: function (response) {
                        console.log(response);
                        if (response.length > 0) {
                            $('#RefSelect').html('');
                            var options = '';
                            options += '<option value="Select">Select</option>';
                            for (var i = 0; i < response.length; i++) {
                                options += '<option value="' + response[i] + '">' + response[i] + '</option>';
                            }
                            $('#RefSelect').append(options);

                        }
                    }
                })
            });

            $('#RefSelect').on("change", function () {
                var invName = $('#invNum').val();

                var obj = { invNumber: invName };
                $.ajax({
                    url: "/User/getInvoiceDetails",
                    method: "POST",
                    data: obj,
                    success: function (response) {
                        console.log(response);
                        if (response.length > 0) {
                            $("#CustomerSelect").val(response[0] + "." + response[1] + "," + response[2] + "," + response[3]);
                            $("#CustOrderNum").val(response[4]);
                            $("#InvoiceDate").val(response[5]);
                            $("#OrderDate").val(response[6]);
                            $("#InvoiceType").val(response[7]);
                            $("#Warranty").val(response[8]);
                            $("#advTax").val(response[9]);
                        }
                    }
                })
            });

            $('#RefSelect').on("change", function () {
                var country = $('#invNum').val();
                var country2 = $('#RefSelect').val();
                var obj = { Company: country, Ref: country2 };
                $.ajax({
                    url: "/User/GetInvoiceDataBasedOnInvoiceNum",
                    method: "POST",
                    data: obj,
                    success: function (response) {
                        console.log(response);
                        if (response.length > 0) {
                            $('#ProductsToPurchase').html('');
                            var options = '';
                            options += '<option value="Select">Select</option>';
                            for (var i = 0; i < response.length; i++) {
                                options += '<option value="' + response[i] + '">' + response[i] + '</option>';
                            }
                            $('#ProductsToPurchase').append(options);

                        }
                    }
                })
            });

            $('#ProductsToPurchase').on("change", function () {
                var Product = $('#ProductsToPurchase').val();
                var Inv = $('#invNum').val();
                var Ref = $('#RefSelect').val();
                var obj = { ProductName: Product, InvoiceNum: Inv, Ref:Ref };
                $.ajax({
                    url: "/User/GetProdDetailsForInvoiceBasedOnInv",
                    method: "POST",
                    data: obj,
                    success: function (response) {
                        console.log(response);
                        if (response.length > 0) {
                            $("#TenderCode").val(response[0]);
                            $("#ProdRegNum").val(response[1]);
                            $("#prodPackSize").val(response[2]);
                            
                            $("#AcUnit").val(response[3]);
                            $("#prodQuantity").val(response[4]);
                            $("#prodBatchNumber").val(response[5]);
                            $("#MfgDate").val(response[6]);
                            $("#ExpDate").val(response[7]);
                            $("#prodRate").val(response[8]);
                            $("#prodValue").val(response[9]);
                        }
                    }
                })
            });

        });

        //$(function () {
        //    $.ajax({
        //        url: "/User/GetInvoiceNum",
        //        method: "GET",
        //        //data: obj,
        //        success: function (response) {
        //            console.log(response);
        //            if (response.length > 0) {
        //                $("#InvoiceNumber").val(response[0]);

        //            }
        //        }
        //    });
        //});

        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }

        $("#prodQuantity,#prodRate").keyup(function () {
            var prodValueCal = ($('#prodQuantity').val() * $('#prodRate').val());
            $('#prodValue').val(prodValueCal.toFixed(2));


        });


        $("body").on("click", "#btnAdd", function () {
            //Auto Generated Text Boxes
            var TenderCode = $("#TenderCode");
            var ProdRegNum = $("#ProdRegNum");
            var ProductsToPurchase = $("#ProductsToPurchase");
            var prodPackSize = $("#prodPackSize");
            var AcUnit = $("#AcUnit");
            
            var prodQuantity = $("#prodQuantity");
            var prodBatchNumber = $("#prodBatchNumber");
            var MfgDate = $("#MfgDate");
            var ExpDate = $("#ExpDate");
            var prodRate = $("#prodRate");
            var prodValue = $("#prodValue");
            var RefSelect = $("#RefSelect");

            //Get the reference of the Table's TBODY element.
            var tBody = $("#tblInvoice > TBODY")[0];

            //Add Row.
            var row = tBody.insertRow(-1);

            // Auto Generated Cells Added.
            var cell = $(row.insertCell(-1));
            cell.html(ProductsToPurchase.val());

            cell = $(row.insertCell(-1));
            cell.html(TenderCode.val());

            cell = $(row.insertCell(-1));
            cell.html(ProdRegNum.val());

            cell = $(row.insertCell(-1));
            cell.addClass('hidecell')
            cell.html(RefSelect.val());

            //Add GenericName cell.
            cell = $(row.insertCell(-1));
            cell.html(prodPackSize.val());

            //Brand Name cell.
            cell = $(row.insertCell(-1));
            cell.html(AcUnit.val());
            //Prod Strength cell.
            cell = $(row.insertCell(-1));
            cell.html(prodQuantity.val());

            cell = $(row.insertCell(-1));
            cell.html(prodBatchNumber.val());

            cell = $(row.insertCell(-1));
            cell.html(MfgDate.val());

            cell = $(row.insertCell(-1));
            cell.html(ExpDate.val());

            cell = $(row.insertCell(-1));
            cell.html(prodRate.val());

            cell = $(row.insertCell(-1));
            cell.addClass('custom')
            cell.html(prodValue.val());



            //Add Button cell.

            cell = $(row.insertCell(-1));
            var btnRemove = $("<input />");
            btnRemove.attr("type", "button");
            btnRemove.attr("class", "btn btn-danger btn-simple btn-xs");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.val("Remove");
            cell.append(btnRemove);

            //Clear the TextBoxes.
            TenderCode.val("");
            ProdRegNum.val("");
            ProductsToPurchase.val("");
            prodPackSize.val("");
            AcUnit.val("");
            prodQuantity.val("");
            prodBatchNumber.val("");
            MfgDate.val("");
            ExpDate.val("");
            prodRate.val("");
            prodValue.val("");



        });

        function Remove(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete Item Code: " + name)) {
                //Get the reference of the Table.
                var table = $("#tblInvoice")[0];

                //Delete the Table row using it's Index.
                table.deleteRow(row[0].rowIndex);
            }
        };

        function Cancel(button) {

            if (confirm("Do you want to delete whole table?: ")) {
                //Get the reference of the Table.
                //var table = $("#tblFinancialOffer")[0];
                var table = document.getElementById("tblInvoice");
                //or use :  var table = document.all.tableid;
                for (var i = table.rows.length - 1; i > 0; i--) {
                    table.deleteRow(i);
                }
            };
        };

        $("body").on("click", "#sendServer", function () {
            //Loop through the Table rows and build a JSON array.
            var customers = new Array();
            $("#tblInvoice TBODY TR").each(function () {
                var row = $(this);
                var customer = {};
                CustOrderNum

                customer.OrderDate = $("#OrderDate").val();
                customer.CustOrderNum = $("#CustOrderNum").val();
                customer.ReturnType = $("#returnType").val();
                customer.SellReturnDate = $("#returnDate").val();
                customer.CustOrderNum = $("#CustOrderNum").val();
                customer.AdvTax = $("#advTax").val();
                customer.InvoiceNum = $("#invNum").val();
                customer.CustomerName = $("#CustomerSelect").val();
                customer.InvoiceDate = $("#InvoiceDate").val();
                customer.InvoiceType = $("#InvoiceType").val();
                customer.Warranty = $("#Warranty").val();
                customer.OrderNum = $("#RefSelect").val();
                customer.ProductName = row.find("td").eq(0).html();

                customer.TenderCode = row.find("td").eq(1).html();
                customer.ProdRegNum = row.find("td").eq(2).html();
                customer.Ref = row.find("td").eq(3).html();
                customer.PackVal = row.find("td").eq(4).html();
                customer.AcUnit = row.find("td").eq(5).html();
                customer.prodQty = row.find("td").eq(6).html();
                customer.prodBatch = row.find("td").eq(7).html();
                customer.prodMFG = row.find("td").eq(8).html();
                customer.prodEXP = row.find("td").eq(9).html();
                customer.purchaseRate = row.find("td").eq(10).html();
                customer.amount = row.find("td").eq(11).html();

                customers.push(customer);
            });
            console.log(JSON.stringify(customers));
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/User/SaveSellReturn",
                data: JSON.stringify(customers),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                    window.location.href =  '@Url.Action("SellReturnsView", "User")'
                }
            });
        });



        //$(document).ready(function () {
        //    var now = new Date();

        //    var day = ("0" + now.getDate()).slice(-2);
        //    var month = ("0" + (now.getMonth() + 1)).slice(-2);

        //    var today = (day) + "-" + (month) + "-" + now.getFullYear();


        //    $('#InvoiceDate').val(today);
        //});

    </script>
</body>
</html>